.container {
    min-width: 100%;
    width: 100vh;
    min-height: 100%;
    background-color: white;
}

.main {
    background-image: url(~/assets/background_nissan.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    width: 100%;
    min-height: 810px;
}

@font-face {
    font-family: "SFDisplay";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(~assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf) format("truetype");
}

html {
    font-family: "SFDisplay";
}

.hg {
    height: 810px;
}